Evocraft-py/*
PyTorch-NEAT/*
.mixin.out/*
config/*
logs/*
mods/*
world/*
eula.txt
server.pro
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
server.properties
usernamecache.json
neat.log
mc_settings.json
.DS_Store
__pycache__/*
pytorch_neat/__pycache__/*
pytorch_neat/*
minecraft_pb2.py
minecraft_pb2_grpc.py